@mixin display3 ($property, $justify, $align-items){
    display: $property;
    justify-content: $justify;
    align-items: $align-items;
}
@mixin display2 ($property, $justify){
    display: $property;
    justify-content: $justify;
}
@mixin display1 ($property){
    display: $propert;
}
@mixin display4 ($property, $justify, $align-items,$direction){
    display: $property;
    justify-content: $justify;
    align-items: $align-items;
    flex-direction: $direction;
}